# Old documentation
doc/old

# Python
**/__pycache__

# Data
data/**
!data/driver1.csv
!data/header.csv

# Results
out/**
!out/centroids.csv
!out/centroids_description.csv

# Clustering results
clustering/

# PDDL problems
hpdl/problems/

# Planner
planner/

# Vscode
.vscode
.Rproj.user