# Documentation
doc/*
# *.zip
# *.pdf
# *.docx

# Except graphs
!doc/graphs

# Data
data/
# *.xls
# *.xlsx

# Output
out/**
# *.csv
# *.plan

# Planner
planner/

# Grammar
grammar/

# Old HPDL files
hpdl/old/