# Documentation
doc/*

# Except graphs
!doc/graphs

# Data
data/old
hpdl/problems*

# Output
out/old
out/output.csv

# Planner
planner/

# Grammar
grammar/old
grammar/.antlr

# Old HPDL files
hpdl/old/

# Vscode
.vscode
.Rproj.user